[Unit]
Description=R/a/dio Stream Recorder
Wants=network-online.target
After=network-online.target

[Service]
User=root
WorkingDirectory=/media/public/r-a-dio/automated
ExecStart=/bin/bash /usr/local/bin/record-stream.sh
Restart=always
RestartSec=30
StartLimitBurst=0
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
