[Unit]
Description=R/a/dio Recorder
Wants=network-online.target
After=network-online.target media-public.mount
Requires=media-public.mount

[Service]
User=root
WorkingDirectory=/media/public/r-a-dio/automated
ExecStart=/bin/bash /usr/local/bin/record-radio.sh
Restart=always
RestartSec=30
StartLimitBurst=0
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
